# Cluster Configuration
cluster:
  # -- Name of the cluster. Only required for Cluster Mesh and mutual authentication with SPIRE.
  # It must respect the following constraints:
  # * It must contain at most 32 characters;
  # * It must begin and end with a lower case alphanumeric character;
  # * It may contain lower case alphanumeric characters and dashes between.
  # The "default" name cannot be used if the Cluster ID is different from 0.
  name: default

# Configure as a kube-proxy replacement
# -- Configure the kube-proxy replacement in Cilium BPF datapath
kubeProxyReplacement: "true"

# IP Address Management Mode
ipam:
  # -- Configure IP Address Management mode.
  operator:
    # @schema
    # type: [array, string]
    # @schema
    # -- IPv4 CIDR list range to delegate to individual nodes for IPAM.
    # Matches the k3s PodCIDR
    clusterPoolIPv4PodCIDRList: ["10.42.0.0/16"]

# Kubernetes API Server
# -- (string) Kubernetes service host - use "auto" for automatic lookup from the cluster-info ConfigMap
k8sServiceHost: "auto"
# -- (string) Kubernetes service port
k8sServicePort: "6443"

# Cilium Operator Configuration
operator:
  # -- Number of replicas to run for the cilium-operator deployment
  replicas: 1

# L2 Announcements Configuration
l2announcements:
  # -- Enable L2 announcements
  enabled: true

# k8 Client Rate Limit Configuration (increase to avoid request limit)
k8sClientRateLimit:
  # @schema
  # type: [null, integer]
  # @schema
  # -- (int) The sustained request rate in requests per second.
  # @default -- 10
  qps: 50
  # @schema
  # type: [null, integer]
  # @schema
  # -- (int) The burst request rate in requests per second.
  # The rate limiter will allow short bursts with a higher rate.
  # @default -- 20
  burst: 200

# Hubble Configuration (observability)
hubble:
  # -- Enable Hubble Relay (requires hubble.enabled=true)
  relay:
    enabled: true
  # -- Whether to enable the Hubble UI.
  ui:
    enabled: true

# IP masquerading
ipMasqAgent:
  enabled: false

# eBPF Configuration
bpf:
  # -- (bool) Enable native IP masquerade support in eBPF
  # @default -- `false`
  masquerade: true

# TAILSCALE compatibility when running kube-proxy replacement mode
# Necessary for exposing kubernetes services
# ref: https://tailscale.com/kb/1236/kubernetes-operator#cilium-in-kube-proxy-replacement-mode
socketLB:
  hostNamespaceOnly: true

# Virtual Extensible Local Area Network Configuration

# -- Tunneling protocol to use in tunneling mode and for ad-hoc tunnels.
# Possible values:
#   - ""
#   - vxlan
#   - geneve
# @default -- `"vxlan"`
tunnelProtocol: "vxlan"

# -- Enable native-routing mode or tunneling mode.
# Possible values:
#   - ""
#   - native
#   - tunnel
# @default -- `"tunnel"`
routingMode: "tunnel"

# -- Enable installation of PodCIDR routes between worker
# nodes if worker nodes share a common L2 network segment.
# (nodes are not on the same L2 network)
autoDirectNodeRoutes: false

# -- (bool) Enables masquerading of IPv4 traffic leaving the node from endpoints.
# @default -- `true` unless ipam eni mode is active
enableIPv4Masquerade: true
