flannel-backend: "none"
disable-kube-proxy: true
disable-network-policy: true

disable:
  - traefik
  - servicelb

cluster-init: true

node-external-ip: {{ ansible_host }}

tls-san:
  - {{ ansible_host }} 
