# OAuth - (Infisical secret)
## Operator oauth credentials. If unset a Secret named operator-oauth must be
# precreated or oauthSecretVolume needs to be adjusted. This block will be
# overridden by oauthSecretVolume, if set.
oauth:
  clientId: ""
  clientSecret: ""

# Operator Configuration
operatorConfig:
  defaultTags:
    - "tag:k8s-operator"

  image:
    repository: tailscale/k8s-operator
    tag: ""
    digest: ""
    pullPolicy: Always

  logging: "info"
  hostname: "tailscale-operator"

# Proxy Configuration
proxyConfig:
  defaultTags: "tag:k8s"

  image:
    repository: tailscale/tailscale
    tag: ""
    digest: ""

  firewallMode: auto

apiServerProxyConfig:
  # Set to "true" to create the ClusterRole permissions required for the API
  # server proxy's auth mode. In auth mode, the API server proxy impersonates
  # groups and users based on tailnet ACL grants. Required for ProxyGroups of
  # type "kube-apiserver" running in auth mode.
  allowImpersonation: "true" # "true", "false"

  # If true or noauth, the operator will run an in-process API server proxy.
  # You can deploy a ProxyGroup of type "kube-apiserver" to run a high
  # availability set of API server proxies instead.
  mode: "true" # "true", "false", "noauth"
installCRDs: true
